@media(max-width:$tablet-width){
    .swiper-container{
        padding:2em !important;
    }
    .product-selection-border{
        height:450px;
        width:90%;
    }
}
@media(max-width:$mobile-width){
    .product-selection-border{
        height:300px;
        width:90%;
    }
}