@media(max-width:$tablet-width){
    .swiper-container{
        padding:2em !important;
    }
   
}
@media(max-width:$mobile-width){
    .product-selection-border{
        position:absolute;
        height:300px;
        width:80%;
    }
}