.swiper-container{
  padding:2em;
  height:100%;
  width:100%;
}
.swiper-slide{
  border:2px solid $axton-red;
  padding:1em;
  img{
    height:100px;
    margin-bottom:10px;
  }
  span{
    color:$axton-red;
    font-weight:bold;
    text-transform: uppercase;
  }
  @include flex(center,center,column);
}