.swiper-container{
  padding:0 2.25em;
  min-height:35vh;
  height:100%;
  width:100%;
  cursor:grab;
  @include flex;
}
.swiper-button-next, .swiper-button-prev{
  color:$axton-red;
  font-weight:700;
}
.swiper-slide{
  border:2px solid $axton-red;
  padding:.5em;
  cursor:pointer;
  >div{
    position:absolute;
    height:103%;
    width:75%;
    border:2px solid white;
  }
  img{
    height:100px;
    margin-bottom:10px;
  }
  span{
    color:$axton-red;
    font-weight:bold;
    text-transform: uppercase;
  }
  @include flex(center,center,column);
}