@include hero($interior-hero-image, $interior-hero-height, interior-hero, center);
.interior-hero{
    @include flex(flex-start, flex-end);
    h1{
        width:50%;
        margin:0;
        font-size:2em;
        padding:.5em .25em;
        color:rgb(221,221,221);
        background-color:$axton-red;
        span{
            color:rgb(94,94,94);
            background:white;
            padding:.25em;
        }
    }
}