@include hero($products-hero-image, $products-hero-height, products-hero, top);
.products-hero{
    .direction{
		cursor:pointer;
			img{
				position:absolute;
				left:0;
				right:0;
				margin:auto;
				top:59vh;
				width:80px;
				animation: 1s infinite bounce;
			}
		}
    @include flex;
    h1{
        margin:0;
        text-align: center;
        font-size:2em;
        background:$axton-red;
        padding:.25em .15em .25em .5em;
        border:2px solid $axton-red;
        span{
            background:white;
            color:$axton-red;
            padding:.1em .25em;
            color:gray;
        }
    }
}
