#site-header{
    background:$nav-bg;
	position:fixed;
    z-index:2;
	right:0;
	width:100%;
	.mobile-nav-toggle, .toggle-text{
		color:white !important;
	}
	.custom-logo-link{
		&:hover{
			transform:scale(.96);
		}
	}
    .primary-menu{
        flex-wrap:nowrap !important;
    }
    .current-menu-item.menu-item-has-children{
        transform:skew(-10deg, 0);
    }
    .current-menu-item{
        background:$axton-red;
            a{
                transform:skew(10deg, 0);
            }
    }
	.menu-item{
        text-transform:uppercase;
		font-weight:700;
        transition:.15s ease-in-out;
        text-align: center;
        margin-left:0 !important;
        font-size:15px !important;
        height:110px;
        text-decoration: none;
        @include flex;
        &:hover{
            background:$axton-red;
            transform:skew(-10deg, 0);
            a{
                transform:skew(10deg, 0);
            }
        }
        a{
            color:white;
            height:100%;
            padding-right:0;
            width:$menu-item-width;
            @include flex;
        }
        .sub-menu{
            box-shadow:0px 5px 5px #818181;
            transform:translateY(-20px);
            border-radius:0;
            padding:0;
            width:$menu-item-width;
            li{
                background:$axton-red;
                border-top:1px solid black;
                border-bottom:2px solid black;
                height:unset;
                max-height:35px;
                font-size:13px !important;
                &:hover{
                    transform:scale(1.06);
                }
                a{padding:.5em;}
            }        
            &::after{
                display: none;
            }
        }
        .icon,.icon::before,.icon::after{
            display:none;
        }  
	}
	.header-titles-wrapper{
		justify-content: space-between;
		padding:0;
	}
	.header-inner{padding:0;}
	.custom-logo{width:$nav-logo-width;}
}
.menu-modal-inner{
	background:black;
	.menu-bottom{
		display:none;
	}
	.toggle{
		color:white !important;
	}
	.menu-item{
		a{
			color:white;
		}
	}
}