@media(max-width:$laptop-width){
    .header-inner{
        padding:0 !important;
        width:95% !important;
    }
    .menu-item{
    height:109px !important;
    margin:0 .15em !important;
    }
}
@media(max-width:1000px){
    .header-inner{
        padding:2rem 0 !important;
    }
}
@media(max-width:$tablet-width){
  .modal-menu{
      .menu-item{
          @include flex;
          margin:0;
      }
      .sub-menu.active{
          background:black;
          z-index:99;
      }
  }
    .toggle-inner{
		padding-top:0em !important;
		height:auto !important;
	}
	.custom-logo{
	    width:150px !important;
    }
}
@media(max-width:$mobile-width){
    .header-inner{
		padding:2rem 0 !important;
	}
	.custom-logo{
		width:100px !important;
	}
}