footer{
	display:none;
}
.footer-insert{
	@include flex;
	background:black;
	padding:.5em 0;
	a{
		margin:0 .25em;
		@include flex;
		color:white;
		text-decoration:none;
		font-weight:700;
		text-transform:uppercase;
        &:hover{
            transform:scale(1.06);
        }
	}
	div{
		color:white;
		margin:0 .25em;
	}
}
.footer-items{
	width:100%;
	height:300px;
	@include flex(space-evenly, flex-start, row);
	padding:2em .5em;
	background:rgb(34, 34, 34);
	text-transform:uppercase;
	flex-wrap:wrap;
	div{
		color:white;
		@include flex(flex-start, flex-start, column);
	}
}