footer{
	display:none;
}
.footer-insert{
	@include flex;
	background:black;
	flex-wrap:wrap;
	padding:.5em 0;
	.footer-social-icons{
		@include flex;
		svg{
			margin:0 .5em;
			cursor:pointer;
			transition:.15s ease-in-out;
			&:hover{
				transform:scale(1.06);
			}
		}
	}
	a{
		margin:0 .25em;
		@include flex;
		color:white;
		text-decoration:none;
		font-weight:700;
		text-transform:uppercase;
        &:hover{
            transform:scale(1.06);
        }
	}
	div{
		color:white;
		margin:0 .25em;
	}
}
.footer-items{
	width:100%;
	height:auto;
	@include flex(space-evenly, flex-start, row);
	padding:2em .5em;
	background:rgb(34, 34, 34);
	text-transform:uppercase;
	flex-wrap:wrap;
	.footer-form-container{
		@include flex(center, center, column);
		form{
			display:flex;
			flex-direction: column;
		}
		input[type="text"], input[type="email"]{
			color:red;
			padding:.25em .5em;
			outline:none;
			border:none;
			margin:.5em auto;
		}
		input[type="textarea"]{
			margin-top:.25em;
			height:50px;
			padding:.25em .5em;
			color:red;
			outline:none;
			border:none;
		}
		input[type="submit"]{
			align-self:center;
			padding:.25em .5em;
			width:50%;
			margin-top:.5em;
			background:black;
			text-decoration: none;
			transition:.15s ease-in-out;
			border:2px solid $axton-red;
			outline:none;
			&:hover{
				transform:scale(.96);
			}
		}
		span{
			text-align: center;
		}
	}
	div{
		color:white;
		@include flex(flex-start, flex-start, column);
	}
	.footer-logo{
		&:hover{
			transform:scale(.96);
		}
	}
}
@media (max-width:$tablet-width){
	.footer-items{
		>div{
			margin:1em auto;
		}
	}
	.footer-form-container{
		width:100%;
	}
	.footer-insert{
		.footer-social-icons{
			width:100%;
			margin-top:.5em;
		}
	}
}