
@import "./hero/hero-home";
.home-section{
	@include flex;
}

.home-welcome{
	@include flex(flex-start,center,column);
	@include setBg($home-welcome-bg, cover, left);
	padding:2em 4em;
	h2{
		font-size:2em;
		text-transform:uppercase;
		color:white;
		text-align:center;
		margin:0;
		span{
			color:$axton-red;
		}
	}
	p,>span{
		text-align:left;
		color:white;
		margin:0;
		font-size:14px;
		font-weight:700;
		width:100%;
	}
	span{
		color:$axton-red;
		width:100%;
	}
}
.trapezoid{
	  width: 200px;
  height: 60px;
  background: red;
  transform: perspective(10px) rotateX(1deg);
  margin: 50px;
	@include flex;
	color:white;
}
.home-industries{
	background-attachment:fixed;
	@include setBg($home-industries-bg, cover, 50% 80%);
	padding:2em 4em;
	.direction{
		cursor:pointer;
			img{
			    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 75px;
				animation: 1s infinite bounce;
			}
		}
	h2{
		text-align:center;
		margin:0;
	}
	.industry-outer{
		flex-wrap:wrap;
	margin:2em auto;
	@include flex(center, center,row);
	.industry-card{
		@include flex(center, flex-start, column);
		width:30%;
		background:white;
		padding:1.5em 1em;
		margin:0 .8em 1.5em .8em;
		height:450px;
		h5,p{
			color:black;
			text-align:left;
		}
		
		p{
			font-weight:400;
			margin:0 !important;
		}
		img,a{
			margin:0 auto;
		}
		a{
			margin-top:1em;
		}
		img{
			height:160px;
			object-fit:contain;
		}
	}
}
}
.home-dealers-fleets{
	background-attachment:fixed;
	@include setBg($home-dealers-fleets-bg, cover, 50% 20%);
	padding:2em 4em;
	.direction{
		cursor:pointer;
			img{
			    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 75px;
				animation: 1s infinite bounce;
			}
		}
	.home-dealers,.home-fleets{
		margin-bottom:1em;
	}
	.home-dealers,.home-fleets{
		@include flex(space-evenly, center, row);
		flex-wrap:wrap;
		
		a{
			text-transform:uppercase;
			text-decoration:none;
			@include flex;
			cursor:pointer;
			color:white;
			font-weight:700;
			font-size:14px;
			margin:.5em 0;
			&:hover{
				transform:scale(1.06);
			}
		}
		img{
			width:40%;
			max-height:400px;
			object-fit:contain;
		}
		>div{
			width:55%;
			padding:1.5em;
			border-left:2px solid white;
			border-top:2px solid white;
			border-bottom:2px solid white;
			>div{
				@include flex(space-evenly, center, row);
				flex-wrap:wrap;
			}
		}
	}
}
@media (max-width:1024px){
	.home-industries{
		padding:1em 2em !important;
	}
	.industry-outer{
		.industry-card{
			width:45% !important;
		}
	}
	.home-dealers,.home-fleets{
		a{
			font-size:12px !important;
		}
	}
}
@media(max-width:$laptop-width){
	
}
@media(max-width:$tablet-width){
	
	.home-dealers-fleets{
		padding:1em 2em;
		.home-dealers,.home-fleets{
			img{
				width:75%;
			}
			>div{
				width:100%;
				margin:1em 0;
			}
			
		}
		.home-fleets{
			flex-direction:column-reverse;
		}
	}
}
@media (max-width:$mobile-width){
	.industry-outer{
		.industry-card{
			width:100% !important;
		}
	}
	
	.home-dealers-fleets{
		.home-dealers,.home-fleets{
			a{
				width:100%;
			}
		}
	}
}