@import "./hero/hero-interior";
.interior-content{
    padding:2em 4.5em;
    border-top:17px solid $axton-red;
    p{
        color:rgb(94,94,94);
        font-weight:500;
        font-size:14px;
    }
}