@import "./hero/hero-products";
.products-categories{
    background-image:url($products-categories-bg);
    background-size:cover;
    background-position: center;
    color:black;
    padding:.5em 3em;
    p,h2{
        color:black;
    }
    p{
        font-weight:500;
        margin:.5em 0 1em 0 !important;
    }
    h2{
        font-size:1.25em;
        margin:.5em 0 0 0 ;
        align-self: flex-start;
        text-transform: capitalize;
    }
    .product-card{
        width:$desktop-product-card-width;
        margin:.5em .5em;
        padding:.5em;
        @include flex(center,center,column);
        a{
            width:100%;
            text-align: center;
            border:2px solid $axton-red;
            padding:.5em 0;
            text-transform: uppercase;
            color:$axton-red;
            background:white;
            transition:.25s ease-in-out;
            &:hover{
                transform:scale(.98);
                background:$axton-red;
                color:white;
            }
        }
    }
    .products-cards-container{
        @include flex(center, center);
        flex-wrap:wrap;
    }
}
@media(max-width:$laptop-width){
    .product-card{
        width:$laptop-product-card-width !important;
    }
}
@media(max-width:$tablet-width){
    
}
@media(max-width:$mobile-width){
    .product-card{
        width:$mobile-product-card-width !important;
    }
}